*.vscode
*.pyc
*.tgz
*.pth
*.jpg
*.zip
runs
data/300WLP-3D
data/AFLW2000-3D
data/images
data/uv_data
data/face3d
*.pt
draft.py
scripts/foo-train.sh
foo-train.py
*.avi
data/QUA_TBDT_MOIRE
data/mặt_bóp
*.mp4